<!-- Testimonial/quote section -->
<section id="quote">
	<div class="row">
		<div class="twelve columns">
		<h3><i class="icon-hangouts"></i>What our customers say ?</h3>

			<div class="flexslider">
				<ul class="slides">

					<li data-thumb="<%= image_url "demo/quote/1.png" %>">
						<p>Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem sagittis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras facilisis felis placerat quam sodales sit amet tempor leo scelerisque.</p>
						<div class="sign">John Doe /<span> Some profession</span></div>
					</li>

					<li data-thumb="<%= image_url "demo/quote/2.png" %>">
						<p>Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem sagittis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras facilisis felis placerat quam sodales sit amet tempor leo scelerisque.</p>
						<div class="sign">John Doe /<span> Some profession</span></div>

					</li>

					<li data-thumb="<%= image_url "demo/quote/3.png" %>">
						<p>Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem sagittis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras facilisis felis placerat quam sodales sit amet tempor leo scelerisque.</p>
						<div class="sign">John Doe /<span> Some profession</span></div>

					</li>

					<li data-thumb="<%= image_url "demo/quote/4.png" %>">
						<p>Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem sagittis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras facilisis felis placerat quam sodales sit amet tempor leo scelerisque.</p>
						<div class="sign">John Doe /<span> Some profession</span></div>
					</li>

					<li data-thumb="<%= image_url "demo/quote/5.png" %>">
						<p>Donec elementum mollis magna id aliquet. Etiam eleifend urna eget sem sagittis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras facilisis felis placerat quam sodales sit amet tempor leo scelerisque.</p>
						<div class="sign">John Doe /<span> Some profession</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial/quote section -->
