<!-- START HEADER -->
<div class="header ">
  <!-- START MOBILE CONTROLS -->
  <div class="container-fluid relative">
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="header-inner">
        <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
    <div class="pull-center hidden-md hidden-lg">
      <div class="header-inner">
        <div class="brand inline">
          <%= image_tag "logo.png", alt: "logo", data: {src: image_path("logo.png"), "src-retina": image_path("logo.png")}, height: "44" %>

        </div>
      </div>

    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">

    </div>
  </div>
  <!-- END MOBILE CONTROLS -->
  <div class=" pull-right">
    <!-- START User Info-->
    <div class="visible-lg visible-md m-t-10">
      <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
        <%= link_to user_path(current_user), class:"settings-link" do %>
        <span class="semi-bold">
        <span class="text-master"><%= current_user.name %>
          <!-- <i class="fa fa-cog p-l-20"></i> -->
        </span>
        <% end %>
      <div class="dropdown pull-right">
        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog p-l-20"></i>

          <!-- <span class="thumbnail-wrapper d32 circular inline m-t-5">
            <%= image_tag "img/profiles/avatar.jpg", alt: "", data: {src: image_path("img/profiles/avatar.jpg"), "src-retina": image_path("img/profiles/avatar_small2x.jpg")}, width: "32", height: "32" %>
      </span> -->
        </button>
        <ul class="dropdown-menu profile-dropdown" role="menu">
          <!-- <li>
            <a href="#"><i class="pg-settings_small"></i> Settings</a>
          </li>
          <li>
            <a href="#"><i class="pg-outdent"></i> Feedback</a>
          </li>
          <li>
            <a href="#"><i class="pg-signals"></i> Help</a>
          </li> -->
          <li class="bg-master-lighter">
            <a href="/signout" class="clearfix">
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="pg-power"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <!-- END User Info-->
  </div>
  <div class=" pull-left sm-table hidden-xs hidden-sm">
    <div class="header-inner">
      <div class="brand inline">
        <div class="header-inner">
          <div class="brand inline">
            <%= image_tag "logo.png", alt: "logo", data: {src: image_path("logo.png"), "src-retina": image_path("logo.png")}, height: "44" %>

          </div>
        </div>
      </div>
      <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">

      </ul>
      <!-- <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
       </div>
  </div>


</div>
<!-- END HEADER -->
